.header{
    background-color:#000;
    padding:10px 0;
}

.logo{
    width:100px;
    display:block;
    
}
.menu a{
    font-weight: 600;
    font-size: 20px;
    text-decoration:none;
    color: rgb(255, 254, 254);
}
.menu a:hover{
    color:rgb(235, 194, 114);
}
.menu{
    display:flex;
    justify-content:flex-end;
    gap:25px;
    list-style:none;
    margin:0;
    padding:0;
    align-items:center;
    height:100%;
}
.banner{
    width: 100%;
    display:block;
}
.tieudetrai{
    margin-top:200px;
}
.btn-uong{
    font-weight: 600;
    padding:8px 15px;
    border-radius:15px;
    border:none;
    background-color:rgb(38, 106, 71);
    color:white;
}
.btn-uong:hover{
    background-color: black;
    color: rgb(240, 208, 144);
}
.category-item img{
    margin-left: 100px;
    width:100%;
    height:280px;
    object-fit:cover;
    border-radius:10px;
    background:#f2f2f2;
}
.category-item h3{
    margin-left: 100px;
    margin-top:10px;
    font-size:20px;
}
.price{
    color: rgb(240, 208, 144);
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}
.product-item h3{
    color: rgb(240, 208, 144);
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}
.product-item{

    width: 200px;
    border-radius:10px;
    border:none;
}
.product-item img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
    background:#f2f2f2;
}
.titles{
    font-weight: 600;
    color: rgb(240, 208, 144);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact-box{
    background-color: rgb(252, 252, 252);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding:10px;
    margin-top:10px;
    border-radius:6px;

}

.contact-box button{
    margin-top:15px;
    padding:8px 18px;
    border-radius:6px;
    background-color:rgb(34, 92, 62);
    font-weight:600;
}

.contact-box button:hover{
    background-color:black;
    color:rgb(240, 208, 144);
}